[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-runner = {editable = true,path = "."}
mypy = "*"
pylint = "*"

[packages]
pytest = "*"
flask = "*"
marshmallow = "*"
flask-socketio = "*"
eventlet = "*"
marshmallow-enum = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
