[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
twine = "*"
icecream = "*"
snapshottest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
pytest-commander = {editable = true,path = "."}
