[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=20.0.0, <21.0.0"
mypy = "<1.0"
pylint = ">=2.0.0, <3.0.0"
twine = ">=3.0.0, <4.0.0"
icecream = ">=2.0.0, <3.0.0"
snapshottest = "<1.0.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
pytest-commander = {editable = true,path = "."}
